{% extends "shuup/front/base.jinja" %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
    {% placeholder "main_carousel" %}
        {% row %}
            {% column {"md": 12} %}
                {% plugin "shuup.front.apps.carousel.carousel" %}
                    active = true
                    carousel = 1
                    render_image_text = true
                {% endplugin %}
            {% endcolumn %}
        {% endrow %}
    {% endplaceholder %}
    {% placeholder "front_content" %}
        {% row %}
            {% column {"md": 12} %}
                {% plugin "product_highlight" %}
                    type = "newest"
                    title = "Newest Products"
                {% endplugin %}
            {% endcolumn %}
        {% endrow %}
    {% endplaceholder %}
{% endblock %}
